<% @squares = Alpha::PP.reverse %> 

<div id="game">
  
  <div class="ready" id="board">
    <div class="squares">
      <% 8.times do |i| %>
        <div class="rank">
          <% 8.times do |j| %>
            <div class="square" id="<%= @squares[(i * 8) + j] %>"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  
  <div class="collapsed" id="log"></div>
  
  <div class="controls">
    <div>
      <a class="disabled" id="undo" href="#"><div><i class="icon-undo2"></i></div><span>Undo move</span></a>
    </div>
    
    <div>
      <a id="toggle-log" href="#"><div><i class="icon-terminal"></i></div><span>Engine</span></a>
    </div>
  </div>
  
</div>