$sans-serif: 'avenir next', avenir, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif;
$color: rgba(0, 0, 0, 0.75);
$light-blue: #5fc9f8;
$yellow: #fecb2e;
$orange: #fd9426;
$pink: #fc3158;
$blue: #147efb;
$green: #53d769;
$red: #fc3d39;
$grey: #8e8e93;

*,
*::after,
*::before {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
html {
  background-color: #fff;
  min-width: 400px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font: normal 14px/20px $sans-serif;
  color: $color;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 80ms ease;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

header {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 20px;


  .spacer {
    flex-grow: 1;
  }
  .title {
    line-height: 40px;
    padding: 0 20px;
  }
  a {
    padding: 0 20px;
    margin-left: 20px;
    line-height: 40px;
  }
}

main {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

@media(min-width: 768px) {
  main {
    perspective: 440px;
  }
  #board {
    transform: rotateX(15deg);
    transform-style: flat;
  }
}

#controls {
  width: 400px;
  position: relative;
  padding: 20px;
  top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  & > div {
    display: flex;
    align-items: center;
  }
  a {
    color: #aaa;
    padding: 2px 8px;
    line-height: 10px;
    margin-right: 4px;
    &:hover {
      color: #90BEFB;
    }
    i {
      &::before {
        font-size: 16px;
        line-height: 10px;
      }
    }
    div {
      width: 100%;
      text-align: center;
    }
    span {
      font-size: 10px;
      text-transform: uppercase;
    }
    &.disabled {
      color: #ddd;
      cursor: not-allowed;
    }
  }
}

#log hr {
  margin: 8px 0 16px 0;
  border-bottom: 2px dotted #ccc;
}

#log {
  width: 440px;
  font-family: "Inconsolata", "Consolas", "Monaco", monospace;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  line-height: 1.25;
  background: #F4F4F4;
  color: #747474;
  height: 160px;
  font-size: 11px;
  border: 1px solid #eee;
  padding: 40px 10px 10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: height 200ms ease;
  &.collapsed {
    height: 0 !important;
    overflow: hidden !important;
    border: none !important;
    padding: 0 !important;
  }
}
