#board {
  z-index: 9999;
  transform: rotateX(15deg);
  transform-style: flat;
  width: 440px;
  padding: 16px;
  background: #eee;
  border: 4px double #ddd;
  border-radius: 4px;
  box-shadow: 16px 54px 32px -32px rgba(0,0,0,0.1), 4px 40px 16px -24px rgba(0,0,0,0.1);
  
  &::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    color: #555;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
  }
  
  
  &.ready::after {
    height: 0;
    content: '';
    background: rgba(#FFFFFF, 0);
    overflow: hidden;
  }
  
  &.waiting::after, &.loading::after {
    height: 100%;
    overflow: visible;
  }
  
  &.waiting::after {
    content: 'Waiting for response';
    background: rgba(#FFFFFF, 0.4);
  }
  &.loading::after {
    content: 'Loading position';
    background: rgba(#FFFFFF, 0.2);
  }
}

.squares {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: 400px;
}

.rank {
  flex: none;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  &:nth-child(odd) .square:nth-child(even), 
  &:nth-child(even) .square:nth-child(odd) {
    background: #ddd;
  }
}

.piece {
  color: #5E667A;
  font-size: 28px;
}

.square {
  cursor: pointer;
  flex: none;
  position: relative;
  height: 50px;
  width: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: all 150ms ease;
  &:hover {
    .piece {
      color: #465987;
    }
  }
  &.selected {
    background: rgba(#8969F1, 0.25) !important;
  }
  &.selected > .piece {
    color: #fff;
  }
  &.valid::after, 
  &.selected::after {
    position: absolute;
    transform: all 150ms ease;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
  }
  &.valid::after {
    background: rgba(#008CFF, 0.15);
  }
  &.selected::after {
    background: rgba(#0085FF, 0.15);
  }
}


