#log {
  margin-top: -5px;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-control {
  width: 100%;
  padding: 5px;
  text-align: right;
  #log-toggle {
    padding: 5px 20px;
    font-size: 12px;
    color: #aaa;
  }
}



#log-content {
  font-family: 'Consolas', "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  line-height: 1.1;
  width: 100%;
  background: #F4F4F4;
  color: #747474;
  height: 200px;
  font-size: 11px;
  border: 1px solid #eee;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: height 200ms ease;
  &.collapsed {
    height: 0 !important;
    overflow: hidden !important;
    border: none !important;
    padding: 0 !important;
  }
}
